edge/nodered/data/flows.json
[
    {
        "id": "ea264a2e957706b2",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be15e65355010343",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34b1aa9b2b86f572",
        "type": "tab",
        "label": "Flujo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab_bridge",
        "type": "tab",
        "label": "Bridge MQTT -> Backend",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1fab4871eee1b9df",
        "type": "sqlitedb",
        "db": "/data/sqlite/edge.db",
        "mode": "RWC",
        "info": "CREATE TABLE IF NOT EXISTS outbox (\r\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n  message_id TEXT NOT NULL UNIQUE,\r\n  ts TEXT NOT NULL,\r\n  topic TEXT NOT NULL,\r\n  payload TEXT NOT NULL,\r\n  state TEXT NOT NULL DEFAULT 'PENDING' CHECK (state IN ('PENDING', 'SENDING', 'SENT', 'FAILED', 'DEAD_LETTER')),\r\n  sent_at TEXT,\r\n  tries INTEGER NOT NULL DEFAULT 0 CHECK (tries >= 0),\r\n  last_error TEXT,\r\n  next_attempt_at TEXT NOT NULL\r\n);\r\nCREATE INDEX IF NOT EXISTS idx_outbox_state_next_attempt_at ON outbox (state, next_attempt_at);\r\nCREATE INDEX IF NOT EXISTS idx_outbox_sent_at ON outbox (sent_at);\r\n"
    },
    {
        "id": "b09c12a70ad626e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-bridge",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "76ddf6df47f481f2",
        "type": "mqtt in",
        "z": "ea264a2e957706b2",
        "name": "",
        "topic": "agro/+/+/+/sensor/+/+/telemetry",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b09c12a70ad626e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "4a4ae0ef4252de4c"
            ]
        ]
    },
    {
        "id": "4a4ae0ef4252de4c",
        "type": "debug",
        "z": "ea264a2e957706b2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "35543d72dbfde842",
        "type": "sqlite",
        "z": "ea264a2e957706b2",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "2a4a48c4efdab42b",
                "c528d6f75d3fc80a"
            ]
        ]
    },
    {
        "id": "e0c9d2ecbbfd1940",
        "type": "inject",
        "z": "ea264a2e957706b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS outbox (   id INTEGER PRIMARY KEY AUTOINCREMENT,   message_id TEXT NOT NULL UNIQUE,   ts TEXT NOT NULL,   topic TEXT NOT NULL,   payload TEXT NOT NULL,   state TEXT NOT NULL DEFAULT 'PENDING' CHECK (state IN ('PENDING', 'SENDING', 'SENT', 'FAILED', 'DEAD_LETTER')),   sent_at TEXT,   tries INTEGER NOT NULL DEFAULT 0 CHECK (tries >= 0),   last_error TEXT,   next_attempt_at TEXT NOT NULL ); CREATE INDEX IF NOT EXISTS idx_outbox_state_next_attempt_at ON outbox (state, next_attempt_at); CREATE INDEX IF NOT EXISTS idx_outbox_sent_at ON outbox (sent_at);",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "35543d72dbfde842"
            ]
        ]
    },
    {
        "id": "2a4a48c4efdab42b",
        "type": "debug",
        "z": "ea264a2e957706b2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "b3f65b269e109b23",
        "type": "inject",
        "z": "ea264a2e957706b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "35543d72dbfde842"
            ]
        ]
    },
    {
        "id": "c528d6f75d3fc80a",
        "type": "debug",
        "z": "ea264a2e957706b2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "058008d4716c422f",
        "type": "inject",
        "z": "ea264a2e957706b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "PRAGMA table_info(outbox);",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "35543d72dbfde842"
            ]
        ]
    },
    {
        "id": "fa20e8b53e340698",
        "type": "function",
        "z": "be15e65355010343",
        "name": "function 1",
        "func": "// topic MQTT original\nconst mqttTopic = msg.topic;\n\n// payload ya debe venir como objeto (gracias al nodo JSON)\nconst p = msg.payload;\n\nif (!p || typeof p !== \"object\") {\n  node.warn(\"payload no es objeto\");\n  return null;\n}\nif (!p.messageId) {\n  node.warn(\"falta messageId; no inserto\");\n  return null;\n}\n\nconst enqueuedAt = new Date().toISOString();\n\nmsg.params = {\n  $message_id: p.messageId,\n  $ts: p.ts || enqueuedAt,\n  $topic: mqttTopic,\n  $payload: JSON.stringify(p),\n  $state: \"PENDING\",\n  $next_attempt_at: enqueuedAt\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "88fcd2dfa1b75e39",
                "3947305a3a2c59e8"
            ]
        ]
    },
    {
        "id": "aa7865b1e91af8d6",
        "type": "debug",
        "z": "be15e65355010343",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "d6b55aa7e6eb8da8",
        "type": "inject",
        "z": "be15e65355010343",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT   COUNT(*) AS total,   COALESCE(SUM(CASE WHEN state = 'PENDING' THEN 1 ELSE 0 END), 0) AS pending,   COALESCE(SUM(CASE WHEN state = 'SENDING' THEN 1 ELSE 0 END), 0) AS sending,   COALESCE(SUM(CASE WHEN state = 'FAILED' THEN 1 ELSE 0 END), 0) AS failed,   COALESCE(SUM(CASE WHEN state = 'DEAD_LETTER' THEN 1 ELSE 0 END), 0) AS dead_letter,   COALESCE(SUM(CASE WHEN state = 'SENT' THEN 1 ELSE 0 END), 0) AS sent,   COALESCE(MAX(ts), '') AS last_ts,   COALESCE(MIN(CASE WHEN state IN ('PENDING', 'FAILED') THEN next_attempt_at END), '') AS next_attempt_at FROM outbox;",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "e98736091e780fb8"
            ]
        ]
    },
    {
        "id": "2e90f867e50ed964",
        "type": "mqtt in",
        "z": "be15e65355010343",
        "name": "",
        "topic": "agro/+/+/+/sensor/+/+/telemetry",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b09c12a70ad626e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "e1f7d688c5ef72f0"
            ]
        ]
    },
    {
        "id": "e1f7d688c5ef72f0",
        "type": "json",
        "z": "be15e65355010343",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "fa20e8b53e340698"
            ]
        ]
    },
    {
        "id": "e98736091e780fb8",
        "type": "sqlite",
        "z": "be15e65355010343",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "23cbcf53e83ab2e6"
            ]
        ]
    },
    {
        "id": "3947305a3a2c59e8",
        "type": "sqlite",
        "z": "be15e65355010343",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "prepared",
        "sql": "INSERT OR IGNORE INTO outbox (message_id, ts, topic, payload, state, next_attempt_at)\nVALUES ($message_id, $ts, $topic, $payload, $state, $next_attempt_at);\n",
        "name": "",
        "x": 830,
        "y": 180,
        "wires": [
            [
                "aa7865b1e91af8d6"
            ]
        ]
    },
    {
        "id": "934177108abb3431",
        "type": "debug",
        "z": "be15e65355010343",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "577116dc787a107d",
        "type": "sqlite",
        "z": "be15e65355010343",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "b163d3663194e4c3"
            ]
        ]
    },
    {
        "id": "91b7c4c30bc7db4a",
        "type": "inject",
        "z": "be15e65355010343",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "const testMessageId = \"test-\" + Date.now(); const now = new Date().toISOString(); msg.topic = ` INSERT OR IGNORE INTO outbox (message_id, ts, topic, payload, state, next_attempt_at) VALUES (?, ?, ?, ?, ?, ?); `.trim(); msg.payload = [ testMessageId, now, \"agro/test/topic\", JSON.stringify({ hello: \"world\", testMessageId }), \"PENDING\", now ]; return msg;",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "577116dc787a107d"
            ]
        ]
    },
    {
        "id": "b163d3663194e4c3",
        "type": "debug",
        "z": "be15e65355010343",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 340,
        "wires": []
    },
    {
        "id": "88fcd2dfa1b75e39",
        "type": "debug",
        "z": "be15e65355010343",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "23cbcf53e83ab2e6",
        "type": "function",
        "z": "be15e65355010343",
        "name": "function 3",
        "func": "const row = (msg.payload && msg.payload[0]) ? msg.payload[0] : {\n    total: 0, pending: 0, sending: 0, failed: 0, dead_letter: 0, sent: 0, last_ts: \"\", next_attempt_at: \"\"\n};\n\nconst text = `Outbox | total=${row.total} | pending=${row.pending} | sending=${row.sending} | failed=${row.failed} | dlq=${row.dead_letter} | sent=${row.sent} | next=${row.next_attempt_at || '-'} | last_ts=${row.last_ts}`;\n\nnode.status({ fill: (row.failed > 0 || row.dead_letter > 0) ? \"red\" : row.pending > 0 ? \"yellow\" : \"green\", shape: \"dot\", text });\n\nmsg.payload = row;\nmsg.summary = text;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "934177108abb3431"
            ]
        ]
    },
    {
        "id": "91bae263de1b6a01",
        "type": "inject",
        "z": "34b1aa9b2b86f572",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "d7a7933f05038972"
            ]
        ]
    },
    {
        "id": "d7a7933f05038972",
        "type": "function",
        "z": "34b1aa9b2b86f572",
        "name": "function 2",
        "func": "const id = \"manual-\" + Date.now();\nconst now = new Date().toISOString();\n\nmsg.params = {\n  $message_id: id,\n  $ts: now,\n  $topic: \"agro/test/topic\",\n  $payload: JSON.stringify({ hello: \"world\", id }),\n  $state: \"PENDING\",\n  $next_attempt_at: now\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "71da511dd5c8754a"
            ]
        ]
    },
    {
        "id": "71da511dd5c8754a",
        "type": "sqlite",
        "z": "34b1aa9b2b86f572",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "prepared",
        "sql": "INSERT OR IGNORE INTO outbox (message_id, ts, topic, payload, state, next_attempt_at)\nVALUES ($message_id, $ts, $topic, $payload, $state, $next_attempt_at);",
        "name": "",
        "x": 830,
        "y": 240,
        "wires": [
            [
                "f83a205fccf17737"
            ]
        ]
    },
    {
        "id": "c7fa2ad688db0259",
        "type": "catch",
        "z": "34b1aa9b2b86f572",
        "name": "",
        "scope": [
            "71da511dd5c8754a"
        ],
        "uncaught": false,
        "x": 820,
        "y": 360,
        "wires": [
            [
                "f83a205fccf17737"
            ]
        ]
    },
    {
        "id": "f83a205fccf17737",
        "type": "debug",
        "z": "34b1aa9b2b86f572",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "tab_bridge",
        "name": "MQTT IN disabled (outbox-first)",
        "topic": "agro/__bridge_disabled__",
        "qos": "1",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "json_parse"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "tab_bridge",
        "name": "JSON parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "fn_to_batch",
                "dbg_in"
            ]
        ]
    },
    {
        "id": "fn_to_batch",
        "type": "function",
        "z": "tab_bridge",
        "name": "Filter + map + wrap batch",
        "func": "// 1) Solo telemetry\nconst topic = String(msg.topic || '');\nif (!topic.endsWith('/telemetry')) return null;\n\nconst p = msg.payload || {};\n\n// 2) Parse del topic MQTT v2 real:\n// agro/{finca}/{zona}/{gw}/sensor/{sensorUid}/{sensorType}/telemetry\nconst parts = topic.split('/');\nconst sensorIdx = parts.indexOf('sensor');\n\nif (\n  parts.length < 8 ||\n  parts[0] !== 'agro' ||\n  sensorIdx < 0 ||\n  sensorIdx + 2 >= parts.length ||\n  parts[parts.length - 1] !== 'telemetry'\n) {\n  node.warn(`Topic unexpected (need v2): ${topic}`);\n  return null;\n}\n\nconst finca = parts[1];\nconst zona = parts[2];\nconst gw = parts[3];\nconst sensorUid = parts[sensorIdx + 1]; // e.g. wind-08, ph-05\nconst sensorType = parts[sensorIdx + 2]; // e.g. WIND, PH, SOIL_MOISTURE (ya canónico)\n\n// 3) Verificación ligera (opcional)\nif (!gw || !sensorUid || !sensorType) {\n  node.warn(`Missing gw/sensorUid/sensorType in topic: ${topic}`);\n  return null;\n}\n\n// 4) Normaliza unidades del simulador a códigos de tu tabla unit (ajusta a los codes reales)\nconst u = (p.unit == null) ? null : String(p.unit);\nconst unitMap = {\n  'C': 'C',\n  '%RH': 'PERCENT',\n  '%VWC': 'PERCENT',\n  'mS/cm': 'MS_CM',\n  'pH': 'PH_SCALE',\n  'lux': 'LUX',\n  'hPa': 'HPA',\n  'V': 'VOLT',\n  'm/s': 'M_PER_S',\n  'mm': 'MM'\n};\nconst unitCode = u ? (unitMap[u] || u.toUpperCase()) : null;\n\n// 5) Body del backend (clave: topic por reading + deviceId = gateway)\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n  source: 'edge-nodered',\n  topic: null, // no lo uses en multisensor; puede ir null\n  readings: [{\n    messageId: String(p.messageId),\n    deviceId: String(p.deviceId || gw), // gatewayUid (NO gw:sensor)\n    topic: topic,                       // <-- el topic v2 REAL\n    ts: String(p.ts || new Date().toISOString()),\n    value: Number(p.value),\n    unit: unitCode,\n    battery: (p.battery != null) ? Number(p.battery) : null,\n    rssi: (p.rssi != null) ? Number(p.rssi) : null,\n    rawPayload: p\n  }]\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [
            [
                "http_post",
                "dbg_out"
            ]
        ]
    },
    {
        "id": "http_post",
        "type": "http request",
        "z": "tab_bridge",
        "name": "POST /ingest/readings/batch",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.10:8080/api/ingest/readings/batch",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": true,
        "headers": [],
        "x": 880,
        "y": 120,
        "wires": [
            [
                "sw_http_replay_status",
                "dbg_resp"
            ]
        ]
    },
    {
        "id": "dbg_in",
        "type": "debug",
        "z": "tab_bridge",
        "name": "IN (MQTT)",
        "active": true,
        "tosidebar": true,
        "complete": "true",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "dbg_out",
        "type": "debug",
        "z": "tab_bridge",
        "name": "OUT (HTTP body)",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "dbg_resp",
        "type": "debug",
        "z": "tab_bridge",
        "name": "Backend response",
        "active": true,
        "tosidebar": true,
        "tostatus": true,
        "complete": "payload",
        "x": 1090,
        "y": 120,
        "wires": []
    },
    {
        "id": "replay_tick",
        "type": "inject",
        "z": "tab_bridge",
        "name": "Replay tick 15s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "replay_select_due_query"
            ]
        ]
    },
    {
        "id": "replay_select_due_query",
        "type": "function",
        "z": "tab_bridge",
        "name": "Select due outbox rows",
        "func": "msg.topic = `SELECT id, message_id, topic, payload, tries\nFROM outbox\nWHERE state IN ('PENDING', 'FAILED')\n  AND tries < 5\n  AND datetime(next_attempt_at) <= datetime('now')\nORDER BY next_attempt_at ASC, id ASC\nLIMIT 20;`;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "replay_select_due"
            ]
        ]
    },
    {
        "id": "replay_select_due",
        "type": "sqlite",
        "z": "tab_bridge",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Select due outbox rows",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "replay_fanout"
            ]
        ]
    },
    {
        "id": "replay_fanout",
        "type": "function",
        "z": "tab_bridge",
        "name": "Fan out outbox rows",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : [];\nfor (const row of rows) {\n  node.send({ payload: row });\n}\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 340,
        "wires": [
            [
                "replay_prepare_claim"
            ]
        ]
    },
    {
        "id": "replay_prepare_claim",
        "type": "function",
        "z": "tab_bridge",
        "name": "Prepare SENDING claim",
        "func": "const row = msg.payload || {};\nmsg.replayRow = row;\nmsg.replay = {\n  id: row.id,\n  messageId: row.message_id,\n  tries: Number(row.tries || 0)\n};\nmsg.params = {\n  $id: row.id\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 340,
        "wires": [
            [
                "replay_mark_sending"
            ]
        ]
    },
    {
        "id": "replay_mark_sending",
        "type": "sqlite",
        "z": "tab_bridge",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "prepared",
        "sql": "UPDATE outbox\nSET state = 'SENDING'\nWHERE id = $id\n  AND state IN ('PENDING', 'FAILED');",
        "name": "Mark SENDING",
        "x": 1220,
        "y": 340,
        "wires": [
            [
                "replay_load_message"
            ]
        ]
    },
    {
        "id": "replay_load_message",
        "type": "function",
        "z": "tab_bridge",
        "name": "Load outbox message",
        "func": "const row = msg.replayRow || {};\ntry {\n  msg.topic = String(row.topic || '');\n  msg.payload = JSON.parse(String(row.payload || '{}'));\n  msg.replay = {\n    id: row.id,\n    messageId: row.message_id,\n    tries: Number(row.tries || 0)\n  };\n  return [msg, null];\n} catch (err) {\n  msg.replay = {\n    id: row.id,\n    messageId: row.message_id,\n    tries: Number(row.tries || 0)\n  };\n  msg.replayError = `Invalid outbox payload JSON: ${err.message}`;\n  return [null, msg];\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 340,
        "wires": [
            [
                "fn_to_batch"
            ],
            [
                "replay_prepare_failure"
            ]
        ]
    },
    {
        "id": "sw_http_replay_status",
        "type": "switch",
        "z": "tab_bridge",
        "name": "Replay HTTP status",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "299",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1220,
        "y": 60,
        "wires": [
            [
                "replay_prepare_sent"
            ],
            [
                "replay_prepare_failure"
            ]
        ]
    },
    {
        "id": "replay_prepare_sent",
        "type": "function",
        "z": "tab_bridge",
        "name": "Prepare SENT update",
        "func": "msg.params = {\n  $id: msg.replay.id,\n  $sent_at: new Date().toISOString()\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 40,
        "wires": [
            [
                "replay_update_sent"
            ]
        ]
    },
    {
        "id": "replay_update_sent",
        "type": "sqlite",
        "z": "tab_bridge",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "prepared",
        "sql": "UPDATE outbox\nSET state = 'SENT',\n    sent_at = $sent_at,\n    last_error = NULL,\n    next_attempt_at = NULL\nWHERE id = $id;",
        "name": "Update SENT",
        "x": 1650,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "replay_prepare_failure",
        "type": "function",
        "z": "tab_bridge",
        "name": "Prepare FAILED or DLQ",
        "func": "const replay = msg.replay || { id: null, tries: 0 };\nconst tries = Number(replay.tries || 0) + 1;\nconst delaySeconds = tries === 1 ? 30 : tries === 2 ? 60 : tries === 3 ? 120 : 300;\nconst nextAttemptAt = new Date(Date.now() + (delaySeconds * 1000)).toISOString();\nlet reason = 'Unknown replay error';\nif (msg.replayError) {\n  reason = msg.replayError;\n} else if (msg.error && msg.error.message) {\n  reason = String(msg.error.message);\n} else if (msg.statusCode) {\n  reason = `HTTP ${msg.statusCode}`;\n} else if (msg.payload != null) {\n  reason = typeof msg.payload === 'string' ? msg.payload : JSON.stringify(msg.payload);\n}\nmsg.params = {\n  $id: replay.id,\n  $last_error: String(reason).slice(0, 500),\n  $next_attempt_at: nextAttemptAt\n};\nif (tries >= 5 || msg.replayError) {\n  return [null, msg];\n}\nreturn [msg, null];\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 100,
        "wires": [
            [
                "replay_update_failed"
            ],
            [
                "replay_update_dead_letter"
            ]
        ]
    },
    {
        "id": "replay_update_failed",
        "type": "sqlite",
        "z": "tab_bridge",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "prepared",
        "sql": "UPDATE outbox\nSET state = 'FAILED',\n    tries = tries + 1,\n    last_error = $last_error,\n    next_attempt_at = $next_attempt_at\nWHERE id = $id;",
        "name": "Update FAILED",
        "x": 1660,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "replay_update_dead_letter",
        "type": "sqlite",
        "z": "tab_bridge",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "prepared",
        "sql": "UPDATE outbox\nSET state = 'DEAD_LETTER',\n    tries = tries + 1,\n    last_error = $last_error\nWHERE id = $id;",
        "name": "Update DEAD_LETTER",
        "x": 1680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "catch_http_replay",
        "type": "catch",
        "z": "tab_bridge",
        "name": "Catch replay HTTP errors",
        "scope": [
            "http_post"
        ],
        "uncaught": false,
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "replay_prepare_failure"
            ]
        ]
    }
]
