edge/nodered/flows/flows.json
[
    {
        "id": "ea264a2e957706b2",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "be15e65355010343",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34b1aa9b2b86f572",
        "type": "tab",
        "label": "Flujo 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "tab_bridge",
        "type": "tab",
        "label": "Bridge MQTT -> Backend",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1fab4871eee1b9df",
        "type": "sqlitedb",
        "db": "/data/sqlite/edge.db",
        "mode": "RWC",
        "info": "CREATE TABLE IF NOT EXISTS outbox (\r\n  id INTEGER PRIMARY KEY AUTOINCREMENT,\r\n  message_id TEXT NOT NULL UNIQUE,\r\n  ts TEXT NOT NULL,\r\n  topic TEXT NOT NULL,\r\n  payload TEXT NOT NULL,\r\n  sent_at TEXT,\r\n  tries INTEGER NOT NULL DEFAULT 0,\r\n  last_error TEXT\r\n);\r\n"
    },
    {
        "id": "b09c12a70ad626e3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-bridge",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "76ddf6df47f481f2",
        "type": "mqtt in",
        "z": "ea264a2e957706b2",
        "name": "",
        "topic": "agro/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b09c12a70ad626e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 140,
        "wires": [
            [
                "4a4ae0ef4252de4c"
            ]
        ]
    },
    {
        "id": "4a4ae0ef4252de4c",
        "type": "debug",
        "z": "ea264a2e957706b2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "35543d72dbfde842",
        "type": "sqlite",
        "z": "ea264a2e957706b2",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "2a4a48c4efdab42b",
                "c528d6f75d3fc80a"
            ]
        ]
    },
    {
        "id": "e0c9d2ecbbfd1940",
        "type": "inject",
        "z": "ea264a2e957706b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS outbox (   id INTEGER PRIMARY KEY AUTOINCREMENT,   message_id TEXT NOT NULL UNIQUE,   ts TEXT NOT NULL,   topic TEXT NOT NULL,   payload TEXT NOT NULL,   sent_at TEXT,   tries INTEGER NOT NULL DEFAULT 0,   last_error TEXT );",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "35543d72dbfde842"
            ]
        ]
    },
    {
        "id": "2a4a48c4efdab42b",
        "type": "debug",
        "z": "ea264a2e957706b2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "b3f65b269e109b23",
        "type": "inject",
        "z": "ea264a2e957706b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "35543d72dbfde842"
            ]
        ]
    },
    {
        "id": "c528d6f75d3fc80a",
        "type": "debug",
        "z": "ea264a2e957706b2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 380,
        "wires": []
    },
    {
        "id": "058008d4716c422f",
        "type": "inject",
        "z": "ea264a2e957706b2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "PRAGMA table_info(outbox);",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "35543d72dbfde842"
            ]
        ]
    },
    {
        "id": "fa20e8b53e340698",
        "type": "function",
        "z": "be15e65355010343",
        "name": "function 1",
        "func": "// topic MQTT original\nconst mqttTopic = msg.topic;\n\n// payload ya debe venir como objeto (gracias al nodo JSON)\nconst p = msg.payload;\n\nif (!p || typeof p !== \"object\") {\n  node.warn(\"payload no es objeto\");\n  return null;\n}\nif (!p.messageId) {\n  node.warn(\"falta messageId; no inserto\");\n  return null;\n}\n\nmsg.params = {\n  $message_id: p.messageId,\n  $ts: p.ts || new Date().toISOString(),\n  $topic: mqttTopic,\n  $payload: JSON.stringify(p)\n};\n\n// Opcional: limpiar payload para no arrastrar cosas\n// msg.payload = null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "88fcd2dfa1b75e39",
                "3947305a3a2c59e8"
            ]
        ]
    },
    {
        "id": "aa7865b1e91af8d6",
        "type": "debug",
        "z": "be15e65355010343",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 180,
        "wires": []
    },
    {
        "id": "d6b55aa7e6eb8da8",
        "type": "inject",
        "z": "be15e65355010343",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT   COUNT(*) AS total,   COALESCE(SUM(CASE WHEN sent_at IS NULL THEN 1 ELSE 0 END), 0) AS pending,   COALESCE(SUM(CASE WHEN sent_at IS NOT NULL THEN 1 ELSE 0 END), 0) AS sent,   COALESCE(MAX(ts), '') AS last_ts FROM outbox;",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "e98736091e780fb8"
            ]
        ]
    },
    {
        "id": "2e90f867e50ed964",
        "type": "mqtt in",
        "z": "be15e65355010343",
        "name": "",
        "topic": "agro/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "b09c12a70ad626e3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "e1f7d688c5ef72f0"
            ]
        ]
    },
    {
        "id": "e1f7d688c5ef72f0",
        "type": "json",
        "z": "be15e65355010343",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "fa20e8b53e340698"
            ]
        ]
    },
    {
        "id": "e98736091e780fb8",
        "type": "sqlite",
        "z": "be15e65355010343",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "23cbcf53e83ab2e6"
            ]
        ]
    },
    {
        "id": "3947305a3a2c59e8",
        "type": "sqlite",
        "z": "be15e65355010343",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "prepared",
        "sql": "INSERT OR IGNORE INTO outbox (message_id, ts, topic, payload)\nVALUES ($message_id, $ts, $topic, $payload);\n",
        "name": "",
        "x": 830,
        "y": 180,
        "wires": [
            [
                "aa7865b1e91af8d6"
            ]
        ]
    },
    {
        "id": "934177108abb3431",
        "type": "debug",
        "z": "be15e65355010343",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "577116dc787a107d",
        "type": "sqlite",
        "z": "be15e65355010343",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 730,
        "y": 340,
        "wires": [
            [
                "b163d3663194e4c3"
            ]
        ]
    },
    {
        "id": "91b7c4c30bc7db4a",
        "type": "inject",
        "z": "be15e65355010343",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "const testMessageId = \"test-\" + Date.now();  msg.topic = ` INSERT OR IGNORE INTO outbox (message_id, ts, topic, payload) VALUES (?, ?, ?, ?); `.trim();  msg.payload = [   testMessageId,   new Date().toISOString(),   \"agro/test/topic\",   JSON.stringify({ hello: \"world\", testMessageId }) ];  return msg;",
        "payload": "",
        "payloadType": "date",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "577116dc787a107d"
            ]
        ]
    },
    {
        "id": "b163d3663194e4c3",
        "type": "debug",
        "z": "be15e65355010343",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 340,
        "wires": []
    },
    {
        "id": "88fcd2dfa1b75e39",
        "type": "debug",
        "z": "be15e65355010343",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "23cbcf53e83ab2e6",
        "type": "function",
        "z": "be15e65355010343",
        "name": "function 3",
        "func": "const row = (msg.payload && msg.payload[0]) ? msg.payload[0] : {\n    total: 0, pending: 0, sent: 0, last_ts: \"\"\n};\n\nconst text = `Outbox | total=${row.total} | pending=${row.pending} | sent=${row.sent} | last_ts=${row.last_ts}`;\n\nnode.status({ fill: row.pending > 0 ? \"yellow\" : \"green\", shape: \"dot\", text });\n\nmsg.payload = row;   // deja el objeto limpio para debug\nmsg.summary = text;  // por si quieres verlo como texto también\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "934177108abb3431"
            ]
        ]
    },
    {
        "id": "91bae263de1b6a01",
        "type": "inject",
        "z": "34b1aa9b2b86f572",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "d7a7933f05038972"
            ]
        ]
    },
    {
        "id": "d7a7933f05038972",
        "type": "function",
        "z": "34b1aa9b2b86f572",
        "name": "function 2",
        "func": "const id = \"manual-\" + Date.now();\n\nmsg.params = {\n  $message_id: id,\n  $ts: new Date().toISOString(),\n  $topic: \"agro/test/topic\",\n  $payload: JSON.stringify({ hello: \"world\", id })\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            [
                "71da511dd5c8754a"
            ]
        ]
    },
    {
        "id": "71da511dd5c8754a",
        "type": "sqlite",
        "z": "34b1aa9b2b86f572",
        "mydb": "1fab4871eee1b9df",
        "sqlquery": "prepared",
        "sql": "INSERT OR IGNORE INTO outbox (message_id, ts, topic, payload)\nVALUES ($message_id, $ts, $topic, $payload);",
        "name": "",
        "x": 830,
        "y": 240,
        "wires": [
            [
                "f83a205fccf17737"
            ]
        ]
    },
    {
        "id": "c7fa2ad688db0259",
        "type": "catch",
        "z": "34b1aa9b2b86f572",
        "name": "",
        "scope": [
            "71da511dd5c8754a"
        ],
        "uncaught": false,
        "x": 820,
        "y": 360,
        "wires": [
            [
                "f83a205fccf17737"
            ]
        ]
    },
    {
        "id": "f83a205fccf17737",
        "type": "debug",
        "z": "34b1aa9b2b86f572",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 240,
        "wires": []
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "tab_bridge",
        "name": "MQTT IN agro/#",
        "topic": "agro/#",
        "qos": "1",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "json_parse"
            ]
        ]
    },
    {
        "id": "json_parse",
        "type": "json",
        "z": "tab_bridge",
        "name": "JSON parse",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "fn_to_batch",
                "dbg_in"
            ]
        ]
    },
    {
        "id": "fn_to_batch",
        "type": "function",
        "z": "tab_bridge",
        "name": "Filter + map + wrap batch",
        "func": "// 1) Solo telemetry\nconst topic = String(msg.topic || '');\nif (!topic.endsWith('/telemetry')) return null;\n\nconst p = msg.payload || {};\n\n// 2) Parse del topic MQTT v2 real:\n// agro/{finca}/{zona}/{gw}/sensor/{sensorUid}/{sensorType}/telemetry\nconst parts = topic.split('/');\nconst sensorIdx = parts.indexOf('sensor');\n\nif (\n  parts.length < 8 ||\n  parts[0] !== 'agro' ||\n  sensorIdx < 0 ||\n  sensorIdx + 2 >= parts.length ||\n  parts[parts.length - 1] !== 'telemetry'\n) {\n  node.warn(`Topic unexpected (need v2): ${topic}`);\n  return null;\n}\n\nconst finca = parts[1];\nconst zona = parts[2];\nconst gw = parts[3];\nconst sensorUid = parts[sensorIdx + 1]; // e.g. wind-08, ph-05\nconst sensorType = parts[sensorIdx + 2]; // e.g. WIND, PH, SOIL_MOISTURE (ya canónico)\n\n// 3) Verificación ligera (opcional)\nif (!gw || !sensorUid || !sensorType) {\n  node.warn(`Missing gw/sensorUid/sensorType in topic: ${topic}`);\n  return null;\n}\n\n// 4) Normaliza unidades del simulador a códigos de tu tabla unit (ajusta a los codes reales)\nconst u = (p.unit == null) ? null : String(p.unit);\nconst unitMap = {\n  'C': 'C',\n  '%RH': 'PERCENT',\n  '%VWC': 'PERCENT',\n  'mS/cm': 'MS_CM',\n  'pH': 'PH_SCALE',\n  'lux': 'LUX',\n  'hPa': 'HPA',\n  'V': 'VOLT',\n  'm/s': 'M_PER_S',\n  'mm': 'MM'\n};\nconst unitCode = u ? (unitMap[u] || u.toUpperCase()) : null;\n\n// 5) Body del backend (clave: topic por reading + deviceId = gateway)\nmsg.method = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n  source: 'edge-nodered',\n  topic: null, // no lo uses en multisensor; puede ir null\n  readings: [{\n    messageId: String(p.messageId),\n    deviceId: String(p.deviceId || gw), // gatewayUid (NO gw:sensor)\n    topic: topic,                       // <-- el topic v2 REAL\n    ts: String(p.ts || new Date().toISOString()),\n    value: Number(p.value),\n    unit: unitCode,\n    battery: (p.battery != null) ? Number(p.battery) : null,\n    rssi: (p.rssi != null) ? Number(p.rssi) : null,\n    rawPayload: p\n  }]\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [
            [
                "http_post",
                "dbg_out"
            ]
        ]
    },
    {
        "id": "http_post",
        "type": "http request",
        "z": "tab_bridge",
        "name": "POST /ingest/readings/batch",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.10:8080/api/ingest/readings/batch",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 880,
        "y": 120,
        "wires": [
            [
                "dbg_resp"
            ]
        ]
    },
    {
        "id": "dbg_in",
        "type": "debug",
        "z": "tab_bridge",
        "name": "IN (MQTT)",
        "active": true,
        "tosidebar": true,
        "complete": "true",
        "x": 520,
        "y": 200,
        "wires": []
    },
    {
        "id": "dbg_out",
        "type": "debug",
        "z": "tab_bridge",
        "name": "OUT (HTTP body)",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "dbg_resp",
        "type": "debug",
        "z": "tab_bridge",
        "name": "Backend response",
        "active": true,
        "tosidebar": true,
        "tostatus": true,
        "complete": "payload",
        "x": 1090,
        "y": 120,
        "wires": []
    }
]